@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Reg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0px;
    font-family: proximaNova;
}

h2 {
	font-family: poppins;
	font-size: 38px;
}

html {
    /* width: 100vw; */
    scroll-behavior: smooth;
}

#content {
    display: flex;
    flex-direction: column;    
    padding-left: 10vw;
    padding-right: 10vw;

    /* background-color: green; */
}

p {
	font-size: 16px;
	margin: 0px;
	line-height: 1.7;
}
a:hover {
	font-weight: 400;

}

#about_container {
	display: flex;
	justify-content:center;
}

#about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 150px 100px 100px 100px;
}
#profile {
    width: 50%;
    max-width: 350px;
	margin-right: 100px;
	height: auto;
	align-self: center;
    border-radius: 1em;
}

.description{
	max-width: 500px;
	height:100%;
	margin-top: 45px;
	display: flex;
	color: #121111;
	flex-direction: column;
}

#about_title {
	margin-top: 0px;
	font-weight: 700;
	font-size: 38px;
}

#resume_button {
	align-self: center;
}

#link_container {
	display:flex;
	flex-direction: row;
}


.social_link {
	text-decoration: none;
	font-size: 17px;
	margin-top: 5px;
	color: #121111;
	font-weight: 700;
	text-decoration: underline;
	margin-right: 25px;
	
}

.footerDescription {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 992px) {

}


@media only screen and (max-width: 1208px) {
	#about {
		justify-content: center;
	}

  	#profile {
  		width: 50%;
        max-width: 50%;
        min-width: 400px;  
  		margin: 0px;
  		margin-bottom: 50px;
  		max-height: none;
  	}

  	.description{
		max-width: 550px;
		height:100%;
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-device-width : 992px) {


    #content {
        display: flex;
        flex-direction: column;    
        padding-left: 15px;
        padding-right: 15px;
    }

    #about {
        margin: 150px 15px 100px 15px;
    }

    #profile {
        width: 50%;
        max-width: 50%;
        min-width: 220px;  
        margin: 0px;
        margin-bottom: 50px;
        max-height: none;
    }
}