@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Reg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0px;
    font-family: proximaNova;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 0px 0px;
    height: 80px;
    /* background-color: red; */
}

.menuItem {
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    font-weight: 700;
}

#logo {
    height: 30px;
    /* background-color: blanchedalmond; */
}

#content {
    display: flex;
    flex-direction: column;    
    padding-left: 8vw;
    padding-right: 8vw;
    /* background-color: green; */
}

#menuItemContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#introductionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    min-height: 500px;
    /* background-color: greenyellow; */
    padding: 0px 12vw 0px 12vw;
}

.introductionItem {
    padding: 30px 0px 30px 0px;
    font-weight: 600;
}

#introductionTitleContainer {
    display: flex;
    flex-direction: row;
}

#introductionTitle {
    color: #121111;
    font-size: 48px;
    font-family: poppins;
    font-weight: 700;
}

.titleAccent {
    color: #00A3FF;
}

#introductionSubtitle {
    font-size: 26px;
    color: #121111;
    line-height: 45px;
    max-width: 780px;
}

#introductionDoubleDownArrowContainer {
    display: flex;
    justify-content: center;
}

#introductionDoubleDownArrow {
    width: 20px;
    margin: 7vh 0 0 0;
}