@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Reg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

.portfolioSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
}

.sectionTitle {
    font-weight: 700;
    font-size: 17px;
    padding: 1vw 0 1vw 0;
}

.sectionHeader {
    font-weight: 700;
    font-size: 30px;
    padding: 1vw 0 1vw 0;
}

/* Image And Description Container */

.imageAndDescriptionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5vw;
}

.imageAndDescriptionContainer img {
    max-width: 55%;
    width: auto;
    height: auto;
    margin-right: 5%;
    object-fit: contain;
    align-self: flex-start;
}

.imageAndDescriptionContainer .descriptionContainer {
    flex-direction: column;
    width: 40%;   
    margin-top: 5vw;
}

.imageAndDescriptionContainer .decorationView {
    background-color: #444444;
    height: 3px;
    width: 35px;
    margin-bottom: 2vw;
}

.imageAndDescriptionContainer .description {
    color: #121111;
    line-height: 30px;
}

/* Vertical Image And Description Container */

.verticalImageAndDescriptionContainer {
    display: flex;
    flex-direction: column;
    padding: 0vw 8vw 2vw 8vw;
}

.verticalImageAndDescriptionContainer .description {
    color: #121111;
    line-height: 30px;
    margin-top: 3vw;
}


/* Half Half Summary Container */

.halfHalfSummaryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw 0 2vw 0;
}

.halfHalfSummaryContainer .bulletPointsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3vw;
}

/* bulletPointsContainer */

.bulletPointsContainer .title {
    color: #121111;
    font-size: 22px;
    margin-bottom: 2.5vw;
}

.bulletPointsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3vw;
}

.bulletPointsContainer .bulletPoint {
    color: #121111;
    font-size: 15px;
    margin: 8px 0 8px 0;
    line-height: 26px;
}

/* ELSE */

.centerMessage {
    align-self: center;
    font-weight: 600;
    color: #0f0f0f;
    font-size: 25px;
    margin: 6vw 0 6vw 0;
}

.fullImageContainer {
    width: 100;
}

.fullWidthImage {
    max-width: 100%;
    max-height: 100%;
}

.oneSpacer {
    height: 1vw;
}

.twoSpacer {
    height: 2vw;
}

.threeSpacer {
    height: 3vw;
}

.fourSpacer {
    height: 4vw;
}

.fiveSpacer {
    height: 5vw;
}

/* RESPONSIVE */

@media only screen and (max-width: 1112px) {
    .imageAndDescriptionContainer img {
        max-width: 100%;
        width: auto;
        height: auto;
        height: auto;
        margin-right: 0%;
        min-width: 100%;
        object-fit: contain;
        align-self: flex-start;
    }

    .imageAndDescriptionContainer .descriptionContainer {
        flex-direction: column;
        width: 100%;   
    }

    .imageAndDescriptionContainer .description {
        width: 100%;
        color: #121111;
        line-height: 30px;
    }

    .verticalImageAndDescriptionContainer {
        display: flex;
        flex-direction: column;
        padding: 0vw 0vw 2vw 0vw;
    }

    .halfHalfSummaryContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0vw 0 5vw 0;
    }

    .halfHalfSummaryContainer .bulletPointsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5vw;
    }    
}